[submodule "MSSR"]
	path = MSSR
	url = https://github.com/daniel2478178/MSSR.git
[submodule "Multi-stage-Selection-Symbolic-Regression"]
	path = Multi-stage-Selection-Symbolic-Regression
	url = https://github.com/daniel2478178/Multi-stage-Selection-Symbolic-Regression.git
